@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
